.center-card {
  margin: 5px auto;
  padding: 10px;
  width: 650px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .center-card {
    width: 100%;
  }
}

#card-link {
  text-decoration: none;
}
